<form
    fsForm
    [submit]="save"
    [confirm]="false"
    [dirtySubmitButton]="false">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Change Password
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        For Security reasons your password must be changed. Please specify a new password
      </p>
      <mat-form-field class="password">
        <input
          matInput
          placeholder="Password"
          fsPassword
          [strength]="true"
          [defaultPasswordHint]="null"
          name="password"
          [fsFormRequired]="true"
          [(ngModel)]="password"
          type="password">
      </mat-form-field>
      <div class="buttons">
        <button
            mat-flat-button
            type="submit"
            color="primary">
          Change Password
        </button>
        <button
            mat-button
            (click)="cancel()"
            type="button">
          Cancel
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>