<form fsForm [submit]="submit" [dirtySubmitButton]="false">
  <ng-container [ngSwitch]="mode">
    <ng-container *ngSwitchCase="'request'">
      <mat-form-field class="full-width">
        <input
          matInput
          [required]="true"
          fsFormEmail
          placeholder="Email"
          [(ngModel)]="email"
          [fsAutofocus]="true"
          name="email">
      </mat-form-field>
      <app-stacked-buttons>
        <button 
            mat-raised-button 
            color="primary"
            name="request"
            type="submit">
          Continue
        </button>
        <button 
            mat-button 
            color="basic" 
            type="button" 
            (click)="cancel()">
          Back to Sign In
        </button>
      </app-stacked-buttons>
    </ng-container>

    <ng-container *ngSwitchCase="'code'">
      <p>
        An email with a verification code has been sent to {{email}} to verify it's you. 
      </p>
      <fs-label-field>
        <fs-code  
          #codeControl="ngModel"
          [(ngModel)]="code"
          name="code"
          [validateOnSubmit]="true"
          [fsFormFunction]="validateExists"
          [required]="true">
        </fs-code> 
        <fs-label-message>
          <mat-error *ngIf="codeControl.dirty && codeControl.errors?.required">
            Code is required
          </mat-error>
          <mat-error *ngIf="codeControl.dirty && codeControl.errors?.validationError">
            {{codeControl.errors?.validationError}}
          </mat-error>
        </fs-label-message>
      </fs-label-field>
      <app-stacked-buttons>
        <button 
            #continue
            mat-raised-button 
            color="primary"
            name="code"
            type="submit">
          Continue
        </button>
        <button 
            mat-button 
            color="basic" 
            type="button" 
            (click)="cancel()">
          Back to Sign In
        </button>
      </app-stacked-buttons>          
    </ng-container>

    <ng-container *ngSwitchCase="'password'">
      <p>
        Enter a new Password for your Account
      </p>
      <mat-form-field class="full-width form-field-multiline-subscript">
        <input
          matInput
          placeholder="Password"
          fsPassword
          [strength]="true"
          name="password"
          [required]="true"
          [fsAutofocus]="true"
          [(ngModel)]="password"
          type="password">
      </mat-form-field> 
      <app-stacked-buttons>
        <button 
            mat-raised-button 
            color="primary"
            name="password"
            type="submit">
          Save Password
        </button>
        <button 
            mat-button 
            color="basic" 
            type="button" 
            (click)="cancel()">
          Back to Sign In
        </button>
      </app-stacked-buttons>          
    </ng-container>
  </ng-container>
</form>
