@use '@angular/material' as mat;

p {
  text-align: center;
}

.mat-mdc-form-field-error {
  display: block;
  padding-bottom: 9px;
  color: var(--mat-form-field-error-text-color);
}

.full-width {
  width: 100%;
}
