<form
  fsForm
  [submit]="submit"
  [dirtySubmitButton]="false">
  @switch (mode) {
    @case ('request') {
      <mat-form-field class="full-width">
        <mat-label>
          Email
        </mat-label>
        <input
          matInput
          [required]="true"
          fsFormEmail
          [autocomplete]="'off'"
          [(ngModel)]="email"
          [fsAutofocus]="true"
          name="email">
      </mat-form-field>
      <app-stacked-buttons>
        <button
          mat-flat-button
          color="primary"
          name="request"
          type="submit">
          Continue
        </button>
        <button
          mat-button
          color="basic"
          type="button"
          (click)="cancel()">
          Cancel
        </button>
      </app-stacked-buttons>
    }
    @case ('code') {
      <fs-label-field>
        <fs-code-input
          #codeControl="ngModel"
          [(ngModel)]="code"
          name="code"
          [validateOnSubmit]="true"
          [fsFormFunction]="validateExists"
          [required]="true">
        </fs-code-input>
        <fs-label-message>
          @if (codeControl.dirty && codeControl.errors?.required) {
            <mat-error>
              Code is required
            </mat-error>
          }
          @if (codeControl.dirty && codeControl.errors?.validationError) {
            <mat-error>
              {{ codeControl.errors?.validationError }}
            </mat-error>
          }
        </fs-label-message>
      </fs-label-field>
      <app-stacked-buttons>
        <button
          #continue
          mat-flat-button
          color="primary"
          name="code"
          type="submit">
          Verify code
        </button>
        <button
          mat-button
          color="basic"
          type="button"
          (click)="cancel()">
          Cancel
        </button>
      </app-stacked-buttons>
    }
    @case ('password') {
      <mat-form-field class="full-width form-field-multiline-subscript">
        <mat-label>
          Password
        </mat-label>
        <input
          matInput
          fsPassword
          [strength]="true"
          [autocomplete]="'off'"
          name="password"
          [required]="true"
          [fsAutofocus]="true"
          [(ngModel)]="password"
          type="password">
      </mat-form-field>
      <app-stacked-buttons>
        <button
          mat-flat-button
          color="primary"
          name="password"
          type="submit">
          Save new password
        </button>
        <button
          mat-button
          color="basic"
          type="button"
          (click)="cancel()">
          Cancel
        </button>
      </app-stacked-buttons>
    }
  }
</form>